<form action='/albums' method='post' role="form">
  <div class="form-group">
    <label for="inputAlbumName">New Album Name</label>
    <input name="name" type="name" class="form-control" id="inputAlbumName" placeholder="New Album Name">
  </div>
  <button type="submit" name="submit" value="login" class="btn btn-default">Create</button>
</form>